
.contact{
    background-color: black;
}
.container1{
    padding:10%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left {
    flex-basis: 35%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    color: #2ecc71;
    margin-right: 15px;
    font-size: 25px;
}
.fa-solid, .fas {
    font-weight: 900;
}
.fa-paper-plane:before {
    content: "\f1d8";
}
.social-icons {
    margin-top: 40px;
    margin-bottom: -13px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #948d8d;
    display: inline-block;
    transition: transform 0.5s;
}

.fa-brands:hover{
    color: #2ecc71;
    transform: translateY(-10px);
    transition: .4s;
    border: none;
}
.submit-btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #2ecc71;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    display: inline-block;
    background: #2ecc71;
}
.submit-btn:hover{
    background-color: transparent;

}

.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .submit-btn {
    /* padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer; */
    padding: 17px 47px;
    font-size: 18px;
    margin-top: 45px;
    cursor: pointer;
}
.contact-right form {
    width: 100%;
}
#msg {
    color: #FF5757;
    margin-top: -40px;
    display: block;
}
p{
    color: white;
}

@media screen and (max-width: 930px){
    .row{
        display: block;
    }
    .contact-left {        
        text-align: center;
    }
}

